@font-face {
  font-family: "helvetica_neue_lt_pro56It";
  src: url("./fonts/helveticaneueltpro-it-webfont.woff2") format("woff2"), url("./fonts/helveticaneueltpro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helvetica_neue_lt_pro55_roman";
  src: url("./fonts/helveticaneueltpro-roman-webfont.woff2") format("woff2"), url("./fonts/helveticaneueltpro-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
img {
  pointer-events: none;
}

video {
  pointer-events: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-icons {
  width: 39px;
  height: 39px;
  background: rgba(100, 100, 100, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 999;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  position: absolute;
  z-index: 1002;
  top: 85px;
  left: 0;
}
.nav-icons svg {
  width: 50%;
  fill: white;
}
.nav-icons img {
  width: 100%;
  border-radius: 50%;
  opacity: 0.65;
  cursor: pointer;
}

.about-icon {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.about-icon:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.nav-icons-close {
  display: none;
}

.name-top {
  position: absolute;
  top: 85px;
  left: 0;
  background: rgba(100, 100, 100, 0.4);
  z-index: 999;
  border-radius: 20px;
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 10px 14px;
  white-space: nowrap;
  cursor: pointer;
}

.logo-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 1001;
}
.logo-icon img {
  width: 100%;
}

.posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 33.33333vw;
  grid-auto-flow: dense;
  gap: 2px;
  border: 2px solid #212121;
}
@media screen and (min-width: 850px) {
  .posts-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 16.6666666vw;
  }
}

.landscape {
  grid-column: span 2;
  grid-row: span 1;
}

.portrait {
  grid-column: span 1;
  grid-row: span 2;
}

.small-square {
  grid-column: span 1;
  grid-row: span 1;
}

.large-square {
  grid-column: span 2;
  grid-row: span 2;
}

.post-container {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
  transition: opacity 0.5s ease-in-out;
}
.post-container:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.post-container h1 {
  font-size: 10px;
}
.post-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.post-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.about-container {
  width: 85%;
  max-height: calc(100vh - 188px);
  overflow: scroll;
  background: rgba(100, 100, 100, 0.4);
  position: absolute;
  top: 143px;
  left: 10px;
  border-radius: 15px;
  max-width: 400px;
  padding: 15px;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  transition: z-index 0.7s step-start, visibility 0s, opacity 0.7s ease-in-out;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  overflow: scroll;
  overflow-x: hidden;
}
@media screen and (min-width: 850px) {
  .about-container {
    width: 400px;
    left: 10px;
  }
}
.about-container h2 {
  color: white;
  font-size: 13px;
  line-height: 1.4em;
  margin: 10px 10px 0;
  padding: 0;
  font-weight: 400;
}
.about-container p {
  font-size: 13px;
  font-weight: 400px;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 25px 10px;
}
.about-container a {
  font-size: 13px;
  font-weight: 400;
  margin: 20px 0 10px 10px;
  padding: 0;
  text-decoration: none;
  color: #eee;
  display: block;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}
.about-container a:hover {
  text-decoration: underline;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.about-no-show {
  visibility: 0;
  opacity: 0;
  z-index: -10;
  transition: z-index 0.7s step-end, opacity 0.7s, visibility 0s ease-in-out;
}

.services-container p {
  color: white;
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 0 10px;
}

.services-container br {
  display: none;
}
@media screen and (min-width: 850px) {
  .services-container br {
    display: block;
  }
}

.clients-container p {
  color: white;
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 0 10px;
}

.clients-container br {
  display: none;
}
@media screen and (min-width: 850px) {
  .clients-container br {
    display: block;
  }
}

.clock-container {
  margin: 0 0 0 10px !important;
}

.office-times {
  margin: 0 0 0 10px !important;
}

.cat-container {
  width: 200px;
  position: absolute;
  top: 10px;
  left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.category {
  background: rgba(255, 255, 255, 0.6);
  padding: 7px 12px;
  border-radius: 20px;
  margin-right: 10px;
}
.category a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  white-space: nowrap;
  font-weight: 600;
}

.cat-no-show {
  display: none;
}

.project-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 300;
}

.project-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 0 10px;
}

.project-logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 300;
}
.project-logo img {
  width: 100%;
}

.project-buttons-container {
  position: absolute;
  z-index: 300;
  top: 85px;
  left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.project-name {
  background: rgba(100, 100, 100, 0.4);
  border-radius: 20px;
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin: 0 7px 0 0;
  padding: 10px 14px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  white-space: nowrap;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.project-name:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.project-name-hide {
  display: none;
}

.name-close {
  width: 39px;
  height: 39px;
  margin: 0 7px 0 0;
  background: rgba(100, 100, 100, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 999;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.name-close:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.name-close svg {
  width: 50%;
  fill: white;
}

.name-close-hide {
  display: none;
}

.project-back {
  width: 39px;
  height: 39px;
  margin: 0 7px 0 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 50%;
  background: rgba(100, 100, 100, 0.4);
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.project-back:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.project-back svg {
  width: 100%;
  fill: transparent;
}

.back-circle {
  fill: rgba(100, 100, 100, 0.4);
}

.project-title {
  height: 39px;
  padding: 0 14px;
  margin: 0 10px 0 0;
  background: rgba(100, 100, 100, 0.4);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  font-family: "helvetica_neue_lt_pro55_roman", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 400;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.project-title:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.project-title h1 {
  font-family: "helvetica_neue_lt_pro55_roman", sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.project-title-hide {
  display: none;
}

.project-title-loading {
  height: 39px;
  padding: 0 14px;
  margin: 0 10px 0 0;
  position: absolute;
  left: 10px;
  top: 85px;
  background: rgba(100, 100, 100, 0.4);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  font-family: "helvetica_neue_lt_pro55_roman", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 400;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.project-title-loading:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.project-title-loading h1 {
  font-family: "helvetica_neue_lt_pro55_roman", sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.project-thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: auto;
  bottom: 10px;
  right: 8.5px;
  top: auto;
  z-index: 300;
}
@media screen and (min-width: 850px) {
  .project-thumbnails {
    flex-direction: row;
    bottom: auto;
    top: 133px;
    left: 10px !important;
    bottom: auto;
    right: auto;
  }
}

.project-thumbnails-hide {
  display: none;
}

.project-thumb {
  width: 35px;
  height: 35px;
  margin: 5px 0 0 0;
}
@media screen and (min-width: 850px) {
  .project-thumb {
    margin: 0 7px 10px 0;
    width: 35px;
    height: 35px;
  }
}
.project-thumb img {
  width: 100%;
  border-radius: 50%;
}

.thumb-overlay {
  position: absolute;
  background: rgba(100, 100, 100, 0.6);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  mask: linear-gradient(#000 0 0), linear-gradient(270deg, #000 50%, rgba(0, 0, 0, 0) 0) content-box 0% 0%/200% 200% no-repeat;
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(270deg, #000 50%, rgba(0, 0, 0, 0) 0) content-box 0% 0%/200% 200% no-repeat;
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  cursor: pointer;
  -webkit-mask-position: 100% 100%;
  mask-position: 100% 100%;
}
@media screen and (min-width: 850px) {
  .thumb-overlay {
    width: 35px;
    height: 35px;
  }
}

.thumb-overlay-on {
  mask-position: 100% 100%;
  -webkit-mask-position: 0% 0%;
}

.project-thumb-loader {
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(100, 100, 100, 0.4);
  border-radius: 21px;
  margin: 7px 0 0 0;
}
@media screen and (min-width: 850px) {
  .project-thumb-loader {
    margin: 0 0 0 7px;
  }
}
.project-thumb-loader img {
  width: 70%;
  mix-blend-mode: darken;
}

.projetc-thumbs-loading {
  left: auto;
}
@media screen and (min-width: 850px) {
  .projetc-thumbs-loading {
    left: 116px !important;
    top: 85px !important;
  }
}

.project-info-container {
  width: 85%;
  max-height: calc(100vh - 100px);
  overflow: scroll;
  overflow-x: hidden;
  background: rgba(100, 100, 100, 0.4);
  position: absolute;
  left: 10px;
  top: 131px;
  border-radius: 15px;
  max-width: 400px;
  padding: 10px 5px 20px;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  transition: z-index 0.7s step-start, visibility 0s, opacity 0.7s ease-in-out;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.project-info-container h1 {
  color: white !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
  margin: 20px 10px;
  padding: 0;
}
.project-info-container h2 {
  color: white;
  font-size: 13px;
  font-weight: 400;
  margin: 10px 10px 0;
  padding: 0;
}
.project-info-container p {
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 25px 10px;
}

.project-info-container-hide {
  visibility: 0;
  opacity: 0;
  z-index: -10;
  transition: z-index 0.7s step-end, opacity 0.7s, visibility 0s ease-in-out;
}

.project-info-close {
  width: 39px;
  height: 39px;
  margin: 0 7px 0 0;
  background: rgba(100, 100, 100, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 999;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.project-info-close:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.project-info-close svg {
  width: 50%;
  fill: white;
}

.project-info-close-path {
  fill: white;
}

.project-info-close-hide {
  display: none;
}

#projects-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
}

.project-container {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  position: relative;
  -webkit-scroll-snap-align: start;
  scroll-snap-align: start;
  -webkit-scroll-snap-stop: normal;
  scroll-snap-stop: normal;
}

.project-images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: all 1s;
  width: 3000px;
}

.project-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.project-image video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.project-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.project-image {
  display: block;
  min-height: 20rem; /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(3px); /* blur the lowres image */
}

.project-image > img {
  display: block;
  width: 100%;
  opacity: 0; /* visually hide the img element */
}

.project-image.is-loaded {
  filter: none; /* remove the blur on fullres image */
  transition: filter 1s;
}

.impressum-container {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}
.impressum-container h1 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 40px;
  right: 20px;
  top: 30px;
  margin: 0;
  padding: 0;
}

.imp-back {
  width: 35px;
  height: 35px;
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 300;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
.imp-back svg {
  width: 100%;
  fill: transparent;
}
.imp-back:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.imp-content {
  width: calc(100% - 80px);
  margin: 0 10px 0 0;
  background: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 10px 30px;
  max-width: 600px;
  max-height: calc(100vh - 86px);
  overflow: scroll;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 55px;
  left: 10px;
  border-radius: 15px;
  overflow: scroll;
  overflow-x: hidden;
}
.imp-content p {
  line-height: 1.4em;
  font-weight: 400;
  font-size: 13px;
}

.splash-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
  cursor: pointer;
  transition: z-index 0.7s step-start, visibility 0s, opacity 0.7s ease-in-out;
  opacity: 1;
  visibility: visible;
}
.splash-container h1 {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
}

.splash-container-hide {
  visibility: 0;
  opacity: 0;
  z-index: -10;
  transition: z-index 0.7s step-end, opacity 0.7s, visibility 0s ease-in-out;
}

html {
  font-family: "helvetica_neue_lt_pro55_roman", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: #212121;
}

#container {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: var(--wp-admin--admin-bar--height, 0px);
}

.loading-container {
  background: linear-gradient(270deg, #212121, #3e3f3f, #343434);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: -1;
}
.loading-container img {
  object-fit: fill;
  width: 100%;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.loading-container h1 {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
@media screen and (min-width: 850px) {
  .loading-container h1 {
    font-size: 26px;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}