@font-face {
  font-family: "helvetica_neue_lt_pro56It";
  src: url("helveticaneueltpro-it-webfont.woff2") format("woff2"), url("helveticaneueltpro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helvetica_neue_lt_pro55_roman";
  src: url("helveticaneueltpro-roman-webfont.woff2") format("woff2"), url("helveticaneueltpro-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.nav {
  display: block;
  background: purple;
  font-family: "helvetica_neue_lt_pro55_roman", sans-serif;
}

html {
  font-family: "helvetica_neue_lt_pro55_roman", sans-serif;
}

#container {
  width: 100%;
  height: 500px;
  background: yellow;
  margin: 10px;
}