/*
URI: www.leonhard-laupichler.com
Author: Bernard BOlter
Author URI: smoothism.com
Description: Portfolio theme developed for Leonhard Laupichler
Version: 1.3
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
*/