@font-face {
  font-family: "helvetica_neue_lt_pro56It";
  src: url("./fonts/helveticaneueltpro-it-webfont.woff2") format("woff2"), url("./fonts/helveticaneueltpro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helvetica_neue_lt_pro55_roman";
  src: url("./fonts/helveticaneueltpro-roman-webfont.woff2") format("woff2"), url("./fonts/helveticaneueltpro-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-icons {
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  z-index: 999;
}
.nav-icons svg {
  width: 65%;
  fill: #212121;
}

.nav-icons-close {
  display: none;
}

.posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 33.33333vw;
}
@media screen and (max-width: 850px) {
  .posts-container .post-container:first-child {
    grid-column: 1/3;
  }
  .posts-container .post-container:nth-child(8) {
    grid-column: 3/4;
    grid-row: 3/5;
  }
  .posts-container .post-container:nth-child(9) {
    grid-column: 1/3;
    grid-row: 4/6;
  }
  .posts-container .post-container:nth-child(12) {
    grid-column: 2/4;
    grid-row: 6/7;
  }
  .posts-container .post-container:nth-child(13) {
    grid-column: 1/2;
    grid-row: 7/9;
  }
  .posts-container .post-container:nth-child(16) {
    grid-column: 2/4;
    grid-row: 8/10;
  }
  .posts-container .post-container:nth-child(21) {
    grid-column: 1/3;
    grid-row: 11/12;
  }
  .posts-container .post-container:nth-child(25) {
    grid-column: 3/4;
    grid-row: 12/14;
  }
  .posts-container .post-container:nth-child(26) {
    grid-column: 1/3;
    grid-row: 13/15;
  }
  .posts-container .post-container:nth-child(32) {
    grid-column: 2/4;
    grid-row: 16/17;
  }
  .posts-container .post-container:nth-child(33) {
    grid-column: 1/3;
    grid-row: 17/19;
  }
}
@media screen and (min-width: 850px) {
  .posts-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 16.6666666vw;
  }
  .posts-container .post-container:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .posts-container .post-container:nth-child(2) {
    grid-column: 2/4;
  }
  .posts-container .post-container:nth-child(4) {
    grid-column: 5/7;
  }
  .posts-container .post-container:nth-child(7) {
    grid-column: 4/6;
    grid-row: 2/4;
  }
  .posts-container .post-container:nth-child(9) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .posts-container .post-container:nth-child(11) {
    grid-column: 6/7;
    grid-row: 3/5;
  }
  .posts-container .post-container:nth-child(13) {
    grid-column: 2/4;
    grid-row: 4/6;
  }
  .posts-container .post-container:nth-child(17) {
    grid-column: 4/5;
    grid-row: 5/7;
  }
  .posts-container .post-container:nth-child(23) {
    grid-column: 5/7;
    grid-row: 6/7;
  }
  .posts-container .post-container:nth-child(25) {
    grid-column: 1/3;
    grid-row: 7/8;
  }
  .posts-container .post-container:nth-child(26) {
    grid-column: 3/5;
    grid-row: 7/9;
  }
  .posts-container .post-container:nth-child(32) {
    grid-column: 6/7;
    grid-row: 8/10;
  }
  .posts-container .post-container:nth-child(33) {
    grid-column: 1/2;
    grid-row: 9/11;
  }
  .posts-container .post-container:nth-child(36) {
    grid-column: 4/6;
    grid-row: 9/10;
  }
}

.post-container {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
  transition: opacity 0.5s ease-in-out;
}
.post-container:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.post-container h1 {
  font-size: 10px;
}
.post-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-container {
  width: 96%;
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 55px;
  left: 2%;
  border-radius: 15px;
  max-width: 400px;
  padding: 10px 5px 20px;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  transition: z-index 0.7s step-start, visibility 0s, opacity 0.7s ease-in-out;
}
@media screen and (min-width: 850px) {
  .about-container {
    width: 400px;
    left: 20px;
  }
}
.about-container h2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  margin: 10px 10px 0;
  padding: 0;
}
.about-container p {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 25px 10px;
}

.about-no-show {
  visibility: 0;
  opacity: 0;
  z-index: -10;
  transition: z-index 0.7s step-end, opacity 0.7s, visibility 0s ease-in-out;
}

.services-container p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 0 10px;
}

.services-container br {
  display: none;
}
@media screen and (min-width: 850px) {
  .services-container br {
    display: block;
  }
}

.clients-container p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 0 10px;
}

.clients-container br {
  display: none;
}
@media screen and (min-width: 850px) {
  .clients-container br {
    display: block;
  }
}

.clock-container {
  margin: 0 0 0 10px !important;
}

.cat-container {
  width: 200px;
  position: absolute;
  top: 10px;
  left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.category {
  background: rgba(255, 255, 255, 0.6);
  padding: 7px 12px;
  border-radius: 20px;
  margin-right: 10px;
}
.category a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  white-space: nowrap;
  font-weight: 600;
}

.cat-no-show {
  display: none;
}

.project-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 0 10px;
}

.project-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 0 10px;
}

.project-back {
  width: 35px;
  height: 35px;
}
.project-back svg {
  width: 100%;
  fill: transparent;
}

.back-circle {
  fill: rgba(255, 255, 255, 0.6);
}

.project-title {
  height: 35px;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 10px;
  cursor: pointer;
  font-family: "helvetica_neue_lt_pro55_roman", sans-serif;
  font-size: 14px;
  color: #212121;
  font-weight: 600;
}

.project-title-hide {
  display: none;
}

.project-thumbnails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.project-thumb {
  width: 35px;
  height: 35px;
  margin: 0 0 0 10px;
}
.project-thumb img {
  width: 100%;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.project-thumb-loader {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 21px;
  margin-left: 5px;
}
.project-thumb-loader img {
  width: 70%;
  mix-blend-mode: darken;
}

.project-info-container {
  width: 90%;
  margin: 0;
  max-width: 350px;
  padding: 21px 14px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  position: absolute;
  left: 20px;
  top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.project-info-container h1 {
  margin: 0 0 14px;
  padding: 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}
.project-info-container h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}
.project-info-container p {
  margin: 0 0 14px;
  padding: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.project-info-container-hide {
  display: none;
}

.project-info-close {
  width: 18px;
  height: 18px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  margin: 0 0 0 10px;
  padding: 9px;
}

.project-info-close-hide {
  display: none;
}

.project-container {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  position: relative;
}
.project-container h1 {
  color: rgb(255, 255, 255);
}

.project-items {
  width: 300%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  z-index: -2;
  top: 0;
}

.project-item {
  width: 100%;
  height: 100vh;
}
.project-item video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.project-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

html {
  font-family: "helvetica_neue_lt_pro55_roman", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: #212121;
}

#container {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: var(--wp-admin--admin-bar--height, 0px);
}

.loading-container {
  background: linear-gradient(270deg, #b7caca, #3e3f3f, #6c6e6e);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: -1;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}