.about-container {
    width: 85%;
    max-height: calc(100vh - 188px);
    overflow: scroll;
    background: $info-back;
    position: absolute;
    top: 143px;
    left: 10px;
    border-radius: 15px;
    max-width: 400px;
    padding: 15px;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    transition: z-index .7s step-start, visibility 0s, opacity .7s ease-in-out;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    overflow: scroll;
    overflow-x: hidden;

    @media screen and (min-width: $breakpoint) {
        width: 400px;
        left: 10px;
    } 

    h2 {
        color: white;
        font-size: 13px;
        line-height: 1.4em;
        margin: 10px 10px 0;
        padding: 0;
        font-weight: 400;
    }

    p {
        font-size: 13px;
        font-weight: 400px;
        line-height: 1.4em;
        color: $white-light;
        margin: 0 0 25px 10px;
    }

    a {
        font-size: 13px;
        font-weight: 400;
        margin: 20px 0 10px 10px;
        padding: 0;
        text-decoration: none;
        color: #eee;
        display: block;
        opacity: .8;
        transition: all .5s ease-in-out;

        &:hover {
            text-decoration: underline;
            opacity: 1;
            transition: all .5s ease-in-out;
        }
    }
}

.about-no-show {
    visibility: 0;
    opacity: 0;
    z-index: -10;
    transition: z-index .7s step-end, opacity .7s, visibility 0s ease-in-out;
}

.services-container p {
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin: 0 0 0 10px;
}

.services-container br {
    display: none;

    @media screen and (min-width: $breakpoint) {
        display: block;
     }
}

.clients-container p {
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin: 0 0 0 10px;
}

.clients-container br {
    display: none;

    @media screen and (min-width: $breakpoint) {
        display: block;
     }
}

.clock-container {
    margin: 0 0 0 10px !important;
}

.office-times {
    margin: 0 0 0 10px !important;
}