.cat-container {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.category {
    background: $white-fade;
    padding: 7px 12px;
    border-radius: 20px;
    margin-right: 10px;

    a {
        text-decoration: none;
        color: $dark-text;
        font-size: 12px;
        white-space: nowrap;
        font-weight: 600;
    }
}

.cat-no-show {
    display: none;
}