.posts-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 33.33333vw;
    grid-auto-flow: dense;
    gap: 2px;
    border: 2px solid $background;

    @media screen and (min-width: $breakpoint) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 16.6666666vw;
    }
}


.landscape {
    grid-column: span 2;
    grid-row: span 1;
}

.portrait {
    grid-column: span 1;
    grid-row: span 2;
}

.small-square {
    grid-column: span 1;
    grid-row: span 1;
}

.large-square {
    grid-column: span 2;
    grid-row: span 2;
}

.post-container {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: .85;
    transition: opacity .5s ease-in-out;

    &:hover {
        opacity: 1;
        transition: opacity .5s ease-in-out;
    }

    h1 {
        font-size: 10px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}