
.imp-background {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: white;
}

.impressum-container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 101;
}

.imp-nav {
    position: fixed;
    z-index: 301;
}

.imp-back {
    width: 35px;
    height: 35px;
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 300;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    opacity: .8;
    transform: scale(1);
    transition: all .5s ease-in-out;
    cursor: pointer;

    svg {
        width: 100%;
        fill: transparent;
    }

    &:hover {
        opacity: 1;
        transform: scale(1.05);
        transition: all .5s ease-in-out;
    }
}

.imp-content {
    margin: 0;
    padding: 10px 20px 50px 0;
    color: black;
    position: absolute;
    left: 17px;
    top: 87px;
    overflow-x: hidden;

    p {
        line-height: 1.4em;
        font-weight: 400;
        font-size: 13px;   
    }
}

.imp-close {
    width: 39px;
    height: 39px;
    transform: scale(1);
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;

    &:hover {
        transform: scale(1.1);
        transition: all .2s ease-in-out; 
    }

    img {
        width: 40%;
    }
}