.impressum-container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;

    h1 {
        position: absolute;
        color: $white-text;
        font-size: 40px;
        right: 20px;
        top: 30px;
        margin: 0;
        padding: 0;
    }
}

.imp-back {
    width: 35px;
    height: 35px;
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 300;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    opacity: .8;
    transition: opacity .5s ease-in-out;
    cursor: pointer;

    svg {
        width: 100%;
        fill: transparent;
    }

    &:hover {
        opacity: 1;
        transition: opacity .5s ease-in-out;
    }
}

.imp-content {
    width: 85%;
    margin: 150px 7.5%;
    color: $white-text;

}