@import './vars.scss';
@import './nav.scss';
@import './grid.scss';
@import './about.scss';
@import './cat.scss';


html {
    font-family: $font;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: var(--wp-admin--admin-bar--height, 0px);
}