@import './vars.scss';
@import './nav.scss';
@import './grid.scss';
@import './about.scss';
@import './cat.scss';
@import './project.scss';


html {
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: $background;
}

#container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: var(--wp-admin--admin-bar--height, 0px);
}

.loading-container  {
    background: linear-gradient(270deg, #b7caca, #3e3f3f, #6c6e6e);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: -1;

    h1 {
        color: $white-text;
        font-size: 16px;

        @media screen and (min-width: $breakpoint) {
            font-size: 26px;
        }
            
    }
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
