.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    left: 7px;
}

.nav-icons {
    width: 35px;
    height: 35px;
    background: $white-fade;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    z-index: 999;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    svg {
        width: 65%;
        fill: $background;
    }

    img {
        width: 100%;
        border-radius: 50%;
        opacity: .65;
        cursor: pointer;
    }
}

.nav-icons-close {
    display: none;
}