.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1001;
    top: 10px;
    left: 10px;
}

.nav-container-hide {
    display: none;
}

.nav-icons {
    width: 39px;
    height: 39px;
    background: $info-back;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: absolute;
    z-index: 1002;
    top: 0;
    left: 0;

    svg {
        width: 50%;
        fill: white;
    }

    img {
        width: 100%;
        border-radius: 50%;
        opacity: .65;
        cursor: pointer;
    }
}

.about-icon {
    transform: scale(1);
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out;
    }
}

.nav-icons-close {
    display: none;
}

.name-top {
    position: absolute;
    top: 0;
    left: 0;
    background: $info-back;
    z-index: 999;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 10px 14px;
    white-space: nowrap;
    cursor: pointer;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.logo-icon {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    left: -3px;
    z-index: 1001;

    video {
        width: 100%;
    }
}