.project-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 0 10px;
}

.project-title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 0 10px;
}

.project-back {
    width: 35px;
    height: 35px;

    svg {
        width: 100%;
        fill: transparent;
    }
}

.back-circle {
    fill: $white-fade;
}

.project-title {
    height: 35px;
    padding: 0 15px;
    background: $white-fade;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
    cursor: pointer;
    font-family: $font;
    font-size: 14px;
    color: $background;
    font-weight: 600;        
}

.project-title-hide {
    display: none;
}

.project-thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.project-thumb {
    width: 35px;
    height: 35px;
    margin:  0 0 0 10px;

    img {
        width: 100%;
        border: 2px solid white;
        border-radius: 50%;
        cursor: pointer;
    }
}

.project-thumb-loader {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white-fade;
    border-radius: 21px;
    margin-left: 5px;

    img {
        width: 70%;
        mix-blend-mode: darken;
    }
}

.project-info-container {
    width: 90%;
    margin: 0;
    max-width: 350px;
    padding: 21px 14px;
    background: $white-fade;
    border-radius: 20px;
    position: absolute;
    left: 20px;
    top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h1 {
        margin: 0 0 14px;
        padding: 0;
        font-size: 15px;
        color: $dark-text;
        font-weight: 400;
    }

    h2 {
        margin: 0;
        padding: 0;
        font-size: 15px;
        color: $dark-text;
        font-weight: 400;
    }

    p {
        margin: 0 0 14px;
        padding: 0;
        font-size: 14px;
        color: $light-text;
    }
}

.project-info-container-hide {
    display: none;
}

.project-info-close {
    width: 18px;
    height: 18px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white-fade;
    cursor: pointer;
    margin: 0 0 0 10px;
    padding: 9px;
}

.project-info-close-hide {
    display: none;
}

.project-container {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    position: relative;

    h1 {
        color: $white-text;
    }
}

.project-items {
    width: 300%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    z-index: -2;
    top: 0;
}

.project-item {
    width: 100%;
    height: 100vh;

    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

}