.project-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 300;

}

.project-title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 0 10px;
}

.project-logo {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 300;

    img {
        width: 100%;
    }
}

.project-buttons-container {
    position: absolute;
    z-index: 300;
    top: 60px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.project-name {
    background: $info-back;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin: 0 7px 0 0;
    padding: 0 14px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    white-space: nowrap;
    cursor: pointer;
    transform: scale(1);
    transition: all .2s ease-in-out;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out; 
    }
}

.project-name-hide {
    display: none;
}

.project-name-loading {
    transform: scale(1);

    &:hover {
        transform: scale(1) !important;
    }
}

.name-close {
    width: 39px;
    height: 39px;
    margin: 0 7px 0 0;
    background: $info-back;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 999;
    // -webkit-backdrop-filter: blur(20px);
    // backdrop-filter: blur(20px);
    transform: scale(1);
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out; 
    }

    svg {
        width: 50%;
        fill: white;
    }
}

.name-close-hide {
    display: none;
}

.project-back {
    width: 39px;
    height: 39px;
    margin: 0 7px 0 0;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    background: $info-back;
    transform: scale(1);
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
        transition: all .2s ease-in-out; 
    }

    svg {
        width: 100%;
        fill: transparent;
    }
}


.back-circle {
    fill: $info-back;
}

.project-title {
    height: 39px;
    padding: 0 14px;
    margin: 0 10px 0 0;
    background: $info-back;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    font-family: $font;
    font-size: 15px;
    color: white;
    font-weight: 400;
    transform: scale(1);
    transition: all .2s ease-in-out;
    white-space: nowrap;

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out; 
    }
     
    h1 {
        font-family: $font;
        font-size: 17px;
        color: white;
        font-weight: 400;
        letter-spacing: 0.05em;  
    }
}

.project-title-hide {
    display: none;
}

.project-title-loading {
    height: 39px;
    width: 70px;
    padding: 0 14px 0 21px;
    margin: 0 10px 0 0;
    left: 10px;
    top: 60px;
    background: $info-back;
    border-radius: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    font-family: $font;
    font-size: 16px;
    color: white;
    font-weight: 400;
    transform: scale(1);
    transition: all .2s ease-in-out;
    text-decoration: none;
     
    h1 {
        font-family: $font;
        font-size: 14px;
        color: white;
        font-weight: 400;
        letter-spacing: 0.05em;  
    } 
}

.logo-icon-loading {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 7px;
    left: 7px;

    img {
        width: 100%;
    }
}

.project-thumbnails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: auto;
    bottom: 10px;
    right: 8.5px;
    top: auto;
    z-index: 300;

    @media screen and (min-width: $breakpoint) {
        flex-direction: row;
        bottom: auto;
        top: 109px;
        left: 10px !important;
        bottom: auto;
        right: auto;
    }
}

.project-thumbnails-hide {
    display: none;
}

.project-thumb {
    width: 35px;
    height: 35px;
    margin:  5px 0 0 0;
    transform: scale(1);
    transition: all .2s ease-in-out;

    @media screen and (min-width: $breakpoint) {
        margin: 0 7px 10px 0;
        width: 39px;
        height: 39px;
    }

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;

        @media screen and (min-width: $breakpoint) {
            width: 39px;
            height: 39px;
        }
    }

    &:hover {
        transform: scale(1.1);
        transition: all .2s ease-in-out;
    }
}

.thumb-overlay {
    position: absolute;
    background: $info-back-darker;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    mask:
        linear-gradient(#000 0 0),
        linear-gradient(270deg, #000 50%, #0000 0) content-box 
        0% 0% / 200% 200% no-repeat;
    -webkit-mask:
        linear-gradient(#000 0 0),
        linear-gradient(270deg, #000 50%, #0000 0) content-box 
        0% 0% / 200% 200% no-repeat;
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    cursor: pointer;
    -webkit-mask-position: 100% 100%;
    mask-position: 100% 100%;

    @media screen and (min-width: $breakpoint) {
        width: 39px;
        height: 39px;
    }
}

.thumb-overlay-on {
    mask-position: 100% 100%;
    -webkit-mask-position: 0% 0%;
    // transition: 4s;
}

.thumb-overlay-done {
    mask-position: 100% 100%;
    -webkit-mask-position: 0% 0%;
    transition: none !important;
}

.project-thumb-loader {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $info-back;
    border-radius: 21px;
    margin: 7px 0 0 0;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    @media screen and (min-width: $breakpoint) {
        margin:  0 0 0 7px;
    }

    img {
        width: 70%;
        mix-blend-mode: darken;
    }
}

.projetc-thumbs-loading {
    left: auto;
    @media screen and (min-width: $breakpoint) {
        left: 116px !important;
        top: 60px !important;
    }
}

.about-project {
    top: 103px !important;
}

.project-info-container {
    width: 85%;
    max-height: calc(100vh - 150px);
    overflow: scroll;
    overflow-x: hidden;
    background: $info-back;
    position: absolute;
    left: 10px;
    top: 109px;
    border-radius: 15px;
    max-width: 400px;
    padding: 15px;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    transition: z-index .7s step-start, visibility 0s, opacity .7s ease-in-out;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    scrollbar-width: none;

    h1 {
        color: white !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3em;
        margin: 20px 10px;
        padding: 0;
    }

    h2 {
        color: white;
        font-size: 13px;
        font-weight: 400;
        margin: 0 10px 0;
        padding: 0;
    }

    p {
        font-size: 13px;
        font-weight: 400;
        color: #999;
        margin: 0 0 25px 10px;
    }
}

.project-info-container-hide {
    visibility: 0;
    opacity: 0;
    z-index: -10;
    transition: z-index .7s step-end, opacity .7s, visibility 0s ease-in-out;
}

.project-info-close {
    width: 39px;
    height: 39px;
    margin: 0 7px 0 0;
    background: $info-back;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 999;
    // -webkit-backdrop-filter: blur(20px);
    // backdrop-filter: blur(20px);
    transform: scale(1);
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out; 
    }

    svg {
        width: 50%;
        fill: white;
    }
}

.project-info-close-path {
    fill: white;
}

.project-info-close-hide {
    display: none;
}

#projects-container {
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
    
}

.project-container {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    position: relative;
    -webkit-scroll-snap-align: start;
    scroll-snap-align: start;
    -webkit-scroll-snap-stop: normal;
    scroll-snap-stop: normal;
    z-index: 200;
}

.project-images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100vh;
    // transition: all 1s;
    width: 3000px;
    left: 0;
    top: 0;
}

.project-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;

    video {
        width: 100%;
        height: 100vh;
        object-fit: fill;
    }

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

}

// LAZY LOAD STYLES
.project-image {
    display: block;
    min-height: 20rem; /* layout hack */
    background: #fff center center no-repeat;
    background-size: cover;
    filter: blur(3px); /* blur the lowres image */
  }
  .project-image > img {
    display: block;
    width: 100%;
    opacity: 0; /* visually hide the img element */
  }
  .project-image.is-loaded {
    filter: none; /* remove the blur on fullres image */
    transition: filter 1s;
  }

  // INVISIBLE NAVIGATION

  .invisible-click-container {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $breakpoint) {
        display: flex;
    }
  }

  .invisible-click-container-hide {
    display: none;
  }

  .invisible-click-left {
    width: 39px;
    height: 39px;
    margin: 0;
    padding: 0;
    z-index: 1001;
    cursor: pointer;
    left: 10px;
    position: absolute;
    transform: scale(1);
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        transition: all .2s ease-in-out; 
    }

    img {
        width: 100%;
    }
  }

  .invisible-click-right {
    width: 39px;
    height: 39px;
    margin: 0;
    padding: 0;
    z-index: 1001;
    cursor: pointer;
    right: 10px;
    position: absolute;
    transform: scale(1) rotate(180deg);
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.05) rotate(180deg);
        transition: all .2s ease-in-out; 
    }

    img {
        width: 100%;
    }
  }

  // PROJECT PLACEHOLDER

  .project-container-placeholder {
    width: 100%;
    height: 100vh;
    display: block;
  }

  .project-container-placeholder-hide {
    display: none;
  }

  .audio-container {
    display: none;
  }