.project-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 300;

}

.project-title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 0 10px;
}

.project-back {
    width: 35px;
    height: 35px;
    top: auto;
    bottom: 7px;
    left: auto;
    right: 7px;
    position: absolute;
    z-index: 300;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    @media screen and (min-width: $breakpoint) {
        top: 7px;
        bottom: auto;
        left: 7px;
        right: auto;
    }

    svg {
        width: 100%;
        fill: transparent;
    }
}

.back-circle {
    fill: $white-fade;
}

.project-title {
    height: 35px;
    padding: 0 14px;
    background: $white-fade;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 300;
    top: auto;
    left: auto;
    bottom: 7px;
    right: 49px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    @media screen and (min-width: $breakpoint) {
        top: 7px;
        left: 49px;
        bottom: auto;
        right: auto;
    }
     
    h1 {
        font-family: $font;
        font-size: 14px;
        color: $dark-text;
        font-weight: 400;  
    }
}

.project-title-hide {
    display: none;
}

.project-thumbnails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: auto;
    bottom: 52px;
    right: 8.5px;
    top: auto;
    z-index: 300;

    @media screen and (min-width: $breakpoint) {
        flex-direction: row;
        bottom: auto;
        top: 7px;
        left: 185px;
        bottom: auto;
        right: auto;
    }
}

.project-thumb {
    width: 30px;
    height: 30px;
    margin:  5px 0 0 0;

    @media screen and (min-width: $breakpoint) {
        margin: 0 7px 10px 0;
        width: 35px;
        height: 35px;
    }

    img {
        width: 100%;
        border-radius: 50%;
    }
}

.thumb-overlay {
    position: absolute;
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    mask:
        linear-gradient(#000 0 0),
        linear-gradient(270deg, #000 50%, #0000 0) content-box 
        0% 0% / 200% 200% no-repeat;
    -webkit-mask:
        linear-gradient(#000 0 0),
        linear-gradient(270deg, #000 50%, #0000 0) content-box 
        0% 0% / 200% 200% no-repeat;
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    opacity: .4;
    mix-blend-mode: screen;
    cursor: pointer;
    -webkit-mask-position: 100% 100%;
    mask-position: 100% 100%;

    @media screen and (min-width: $breakpoint) {
        width: 35px;
        height: 35px;
    }
}

.thumb-overlay-on {
    mask-position: 100% 100%;
    -webkit-mask-position: 0% 0%;
    // transition: 4s;
}

.project-thumb-loader {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white-fade;
    border-radius: 21px;
    margin: 7px 0 0 0;

    @media screen and (min-width: $breakpoint) {
        margin:  0 0 0 7px;
    }

    img {
        width: 70%;
        mix-blend-mode: darken;
    }
}


.project-info-container {
    width: 96%;
    background: rgba(255,255,255,.85);
    position: absolute;
    top: auto;
    left: auto;
    bottom: 52px;
    right: 50px;
    border-radius: 15px;
    max-width: 400px;
    padding: 10px 5px 20px;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    transition: z-index .7s step-start, visibility 0s, opacity .7s ease-in-out;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    @media screen and (min-width: $breakpoint) {
        width: 400px;
        left: 20px;
        top: 55px;
    } 

    h1 {
        color: $dark-text !important;
        font-size: 14px;
        margin: 20px 10px;
        padding: 0;
    }

    h2 {
        color: $dark-text;
        font-size: 12px;
        margin: 10px 10px 0;
        padding: 0;
    }

    p {
        font-size: 11px;
        color: $light-text;
        margin: 0 0 25px 10px;
    }
}

.project-info-container-hide {
    visibility: 0;
    opacity: 0;
    z-index: -10;
    transition: z-index .7s step-end, opacity .7s, visibility 0s ease-in-out;
}

.project-info-close {
    width: 18px;
    height: 18px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white-fade;
    cursor: pointer;
    padding: 9px;
    position: absolute;
    z-index: 300;
    top: auto;
    left: auto;
    bottom: 7px;
    right: 52px;

    @media screen and (min-width: $breakpoint) {
        top: 7px;
        left: 49px;
        bottom: auto;
        right: auto;
    }
}

.project-info-close-hide {
    display: none;
}

#projects-container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
}

.project-container {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    position: relative;
    -webkit-scroll-snap-align: start;
    scroll-snap-align: start;
    -webkit-scroll-snap-stop: normal;
    scroll-snap-stop: normal;
}

.project-images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: all 1s;
}

.project-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;

    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

}

// LAZY LOAD STYLES
.project-image {
    display: block;
    min-height: 20rem; /* layout hack */
    background: #fff center center no-repeat;
    background-size: cover;
    filter: blur(3px); /* blur the lowres image */
  }
  .project-image > img {
    display: block;
    width: 100%;
    opacity: 0; /* visually hide the img element */
  }
  .project-image.is-loaded {
    filter: none; /* remove the blur on fullres image */
    transition: filter 1s;
  }