@font-face {
    font-family: 'helvetica_neue_lt_pro56It';
    src: url('./fonts/helveticaneueltpro-it-webfont.woff2') format('woff2'),
         url('./fonts/helveticaneueltpro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_neue_lt_pro55_roman';
    src: url('./fonts/helveticaneueltpro-roman-webfont.woff2') format('woff2'),
         url('./fonts/helveticaneueltpro-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$italic: "helvetica_neue_lt_pro56It", sans-serif;
$font: "helvetica_neue_lt_pro55_roman", sans-serif;
$white-fade: rgba(255,255,255, .6);
$background: #212121;
$breakpoint: 850px;
$dark-text: rgba(0,0,0, .7);
$light-text: rgba(0,0,0, .5);
$white-light: rgba(255,255,255,0.7);
$white-text: rgba(255,255,255.8);
$nav-back: #D9D9D9;
$info-back: rgba(100,100,100,0.4);
$info-back-darker: rgba(100,100,100,0.6);

img {
    pointer-events: none;
}

video {
    pointer-events: none; 
}

html {
    scrollbar-width: none;
}