@font-face {
    font-family: 'helvetica_neue_lt_pro56It';
    src: url('./fonts/helveticaneueltpro-it-webfont.woff2') format('woff2'),
         url('./fonts/helveticaneueltpro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helvetica_neue_lt_pro55_roman';
    src: url('./fonts/helveticaneueltpro-roman-webfont.woff2') format('woff2'),
         url('./fonts/helveticaneueltpro-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$italic: "helvetica_neue_lt_pro56It", sans-serif;
$font: "helvetica_neue_lt_pro55_roman", sans-serif;
$white-fade: rgba(255,255,255, .4);